

 :root {
        /* Paleta elegida por el usuario */
        --color-background-primary: #F2E8DC; /* fondo principal (claro) */
        --color-surface: #FDFCFA;            /* blanco cálido */
        --color-secondary-surface: #DBCDBA;  /* detalle de fondo */
        --color-text-primary: #59463B;       /* texto principal oscuro */
        --color-accent: #AD8A7B;             /* color de detalles / botones */
        --color-white-pure: #FFFFFF;
        --color-black: #000000;
        --transition-smooth: all 0.3s ease;
    }


    body {
        color: var(--color-text-primary);
        background: var(--color-background-primary);
        background-repeat: no-repeat;
        font-size: 1rem;
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
        margin: 0;

        /* Fondo decorativo: paw (ambos lados) */
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #CCB08A;
    color: #000000;

}

.banner img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    mask-image: linear-gradient(to bottom, 
                transparent 0%, 
                black 2%,          /* Fin del desvanecimiento superior */
                black 95%,         /* Inicio del desvanecimiento inferior */
                transparent 100%
                );
    
    /* Versión con prefijo para asegurar compatibilidad */
    -webkit-mask-image: linear-gradient(to bottom, 
                        transparent 0%, 
                        black 2%,          
                        black 95%,         
                        transparent 100%
                        );
}


.historia {
    text-align: center;
    padding: 30px;
}

.historia h2 {
    background: #ffffe3;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 25px;
}

.texto-historia {
    background: #ffffe3;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    max-width: 900px;
    margin: auto;
    font-size: 17px;
}


.boton-aventura {
    display: inline-block;
    margin-top: 20px;
    background: #ffffe3;
    color: #000000;
    padding: 12px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
}


.bloques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.caja {
    width: 280px;
    background: #ffffe3;
    color: #000000;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}

.logo {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    display: flex;  /* ← ESTO habilita el sistema de alineación */
    align-items: center;
    justify-content: space-between;
}





