* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --fondo:#CCB08A;
}

body {
    background: var(--fondo);
    background-repeat: no-repeat;
    font-size: medium;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

.header_conteiner {
    border-radius: 0 0 30px 30px;
    background-color: #f0d4ac7a;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;

    &:hover {
        height: 115px;

        & .item_menu {
            width: 40rem;
        }

    }

    & .conteiner_menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 30rem;
        margin: 10px;
        padding: .625rem;
        gap: 1.5rem;
        color: black;

        & .item_menu {
            border-radius: 20px;
            border: var(--Azul) solid;
            width: 20rem;
            text-align: center;
            font-size: 17px;
            padding: 15px;
            margin: 5px;

            &:hover {
                background-color: rgba(var(--fondo), 0.5);
                color: #02008f;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                transform: scale(115%);
            }
        }
    }
}

.conteiner_img {
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.header_icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 0));

    &:hover {
        scale: 150%;
        filter: drop-shadow(2px 2px 2px rgb(0 0 0 0));
    }
}



footer {
    background-color:#b89058d5;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-bottom: 0;
    gap: 5rem;
    justify-content: space-between;
    font-size: 20px;

    & .contactos {
        position: relative;
        display: flex;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        & p {
            padding: 5px;
            height: auto;
        }
        & .conteiner {
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            padding-bottom: 0;
        }
    }
    & .proyecto {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem .625rem;
        align-items: center;

        p {
            text-align: start;
            margin: 10px;
            padding: 10px 15px;
        }

        & .miembros {
            display: flex;
            gap: 5px;
            justify-content: space-around;
            align-items: center;
            padding: 0 20px;

            p {
                height: 20px;
            }

            ul {
                width: 50%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        & .github {
            display: flex;
            gap: 15px;
            justify-content:center;
            font-size: 25px;
            align-items: center;
            padding: 12px;
        }
    }
}

.icon-footer {
    width: 1.7rem;
    height: 1.7rem;
    align-self: center;
}

.instagram,
.whatsapp,
.correo {
    padding: 10px 5px;
    margin: 0px 5px;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}