* {
    margin: 0;
    padding: 0;
}
root{
    --Verde: 86FFAAA;
    --Azul: 4FCEF5;

}
body{
        background: linear-gradient(#86FFAA, #4FCEF5, #86FFAA);
}
.header_conteiner {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;

    & .conteiner_menu {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 50%;
        margin: 10px;
        padding: .625rem;
        gap: 1.5rem;
        color: black;

        & .item_menu {
            border-radius: 30px;
            padding: 20px;
            margin: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
                color: red;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
                transform: scale(110%);
            }
        }
    }
}

.conteiner_img {
    border-radius: 50%;
    background-color: white;
    margin: 10px;
}

.header_icon {

    color: #8d6e63;
    height: 50px;
    width: 50px;
    padding: 10px;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));

    &:hover{
        scale: 130%;
            filter: drop-shadow(1px 1px 1px rgb(255, 0, 0));
    }
}